.myBar {
    width: 5%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: black;
    margin-top: 10px;
    
  }
  .barContainer{
    width: 40%;
    position: fixed;
    display: inline-block;
    top: 30%;
    left: 30%;
  }
  
  .calculatingText{
    text-align: center;
    display: inline-block;
    margin: 0 12.5%;  
    width: 75%;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
  }